* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
::-webkit-scrollbar {
	width: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg,#FBCA88,#EF69AD);
}

@import 'partials/_dark.scss';

.calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 545px;
	height: 817px;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	background-color: #f2f3f7;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	overflow: hidden;
}

@import 'partials/_inputWrap.scss';
@import 'partials/_buttonWrap.scss';

@media screen and (max-width: 545px) {
	.calculator {
		width: 375px;
		height: 564px;
	}
	.inputWrap {
		top: 28px;

		&__result {
			height: 69px;
			padding: 0 20.6px;
			font-size: 62px;
		}
	}
	.button {
		font-size: 35px;
	    margin-left: 20.6px;
	    margin-bottom: 20.6px;
	    width: 68px;
	    height: 68px;
	    border-radius: 20px;

	    &._double {
			padding-left: 24px;
			width: 156.6px;
		}
	}
}
@media screen and (max-width: 375px) {
	.calculator {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}