/*____________________________________________________________

# Auxiliary styles
# @import Main Page Styles
	## @import _dark.scss
	## @import _calculator.scss
	## @import _inputWrap.scss
	## @import _buttonWrap.scss
# @media

____________________________________________________________*/

/*____________________________________________________________
# Auxiliary styles
____________________________________________________________*/
* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	user-select: none;
}
::-webkit-scrollbar {
	width: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg,#FBCA88,#EF69AD);
}

/*____________________________________________________________
# @import Main Page Styles
____________________________________________________________*/
/*____________________________________________________________
## @import _dark.scss
____________________________________________________________*/
@import 'partials/_dark.scss';

/*____________________________________________________________
## @import _calculator.scss
____________________________________________________________*/
@import 'partials/_calculator.scss';

/*____________________________________________________________
## @import _inputWrap.scss
____________________________________________________________*/
@import 'partials/_inputWrap.scss';

/*____________________________________________________________
## @import _buttonWrap.scss
____________________________________________________________*/
@import 'partials/_buttonWrap.scss';

/*____________________________________________________________
# @media
____________________________________________________________*/
@import 'partials/_mediaQueriesPack.scss';