html
	head
		include template/head.pug
		include template/partials/linkMain.pug
	body
		.container
			include template/partials/_toogleThemeButton.pug
			include template/partials/_calculator.pug
		include template/partials/scriptMain.pug