html
	head
		include template/head.pug
		include template/partials/linkMain.pug
	body
		.container
			span Dark Theme 
			input(type="checkbox" class="dark")
			.calculator
				include template/partials/_inputWrap.pug
				include template/partials/_buttonWrap.pug
		include template/partials/scriptMain.pug