html
	head
		include template/head.pug
		include template/partials/linkMain.pug
	body
		//- input(type="checkbox" class="dark" name="option2")
		//- | I've read the terms and conditions
		.container
			.darkButton
			.calculator
				include template/partials/_inputWrap.pug
				include template/partials/_buttonWrap.pug
		include template/partials/scriptMain.pug