.inputWrap {
	position: absolute;
	top: 40px;
	width: 100%;

	&__result {
		width: 100%;
		height: 100px;
		text-align: right;
		padding: 0 30.6px;
		color: #000;
		font-size: 90px;
		font-family: sans-serif;
		border: 0;
		outline: none;
		background-color: transparent;
	}
}