@media screen and (max-width: 545px) {
	.calculator {
		width: 414px;
		height: 736px;
		border-radius: 0;
	}
	.inputWrap {
		bottom: 530px;

		&__result {
			padding: 0 23.3px;
			height: auto;
			font-size: 68.5px;
		}
	}
	.buttonWrap {
		width: 368px;
	}
	.button {
		margin-left: 23.3px;
		margin-bottom: 23.3px;
		width: 74.5px;
		height: 74.5px;
		font-size: 38px;
		border-radius: 22.8px;

		&._double {
			padding-left: 24px;
			width: 172.3px;
		}
	}
}